<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="app.name" value="deepinfo-crawler" />
    <property name="log.dir" value="/data/logs/apps"></property>
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%-5level [%thread] %c [%L] -%msg%n"/>

    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="30"/>

    <!-- 控制台打印日志的相关配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="crawler_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${app.name}/crawler.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/${app.name}/crawler_%d{yyyy-MM-dd}.log.zip</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <logger name="tech.qi.deepinfo.crawler" level="INFO" additivity="false">
        <appender-ref ref="crawler_file" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="crawler_file"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="crawler_file" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>